<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Ваша корзина</h2>
<ul>
	<% @cart.line_items.each do |item| %>
	<li><%= item.product.title %></li>
	<li id="tochka"><%= item.product.price %></li>
	<% end %>
</ul>
<%= link_to 'Редактировать', edit_cart_path(@cart) %> |
<%= link_to 'Назад', carts_path %>
