<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Ссылка на картинку:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Редактировать', edit_product_path(@product) %> |
<%= link_to 'Назад', products_path %>
